.mainbox{
    width: 800px;
    margin: 0px auto;
}
.leftside{
    width: 100px;
    float: left;

}
.rightside{
    width: 100px;
    float: right;
}
.logo-area {
    border: 4px solid #CA080B;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    horiz-align: center;
}
.logotext a{
    text-decoration: none;
    color: black;
}
.logotext a:hover{
    color: red;
}
.select{
    color: #D80032;
}
.logo1{
    display: inline-block;
    float: left;
}
.logo2{
    display: inline-block;
    padding: 15px 10px 10px 8px;
    font-family: "Comic Sans MS";
    font-size: 30px;
}
.logotext{
    display: inline;
}
.logo3{
    display: inline-block;
    float: right;
    padding-top: 20px;
}

.logotext li{
    font-family: "Comic Sans MS";
    font-size: 17px;
    display: inline;
    padding: 20px 20px 10px 8px;
}
.shapka img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.text{

    font-family: "Comic Sans MS";
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    background-color: #CA080B;
    position: relative;
    text-align: center;
}

.menu{
    padding-top: 10px;
}
.specific img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.specsover{
    color: #CA080B;
    padding: 20px 20px 10px;
    font-family: "Comic Sans MS";
    font-size: 30px;
}
.quatro{
    color: #CA080B;
    padding: 10px 10px 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
}
.quatrotext{
    width: 300px;
    padding: 0px 10px 10px;
    text-align: center;
    padding-bottom: 70px;
}
.quatro img{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.dynamic img{
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-right: 60px;
}

.dynamic{
    color: #CA080B;
    padding: 20px 10px 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.dynamictext{
    float: right;
    width: 320px;
    padding: 0px 10px 10px;
    text-align: center;
    padding-bottom: 50px;
}

.redline{
    height: 50px;
    background-color: #CA080B;
    border-radius: 15px;
}

.history{
    position: relative;
}
.history img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.history p {
    font-family: "Comic Sans MS";
    position: absolute;
    bottom: 10px;
    background-color: rgba(121, 4, 6, .7);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 23px;
    text-align: center;
}
.audi-links{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.audi-links a{

    text-decoration: none;
    color: black;
    font-family: "Comic Sans MS";
    font-size: 16px;
    padding: 0px 30px 20px 8px;

}
.audi-links a:hover{
    color: red;
}
.footer{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #cccccc;
    border-radius: 30px;
}
.gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text_map{
    color: #CA080B;
    padding: 40px 300px 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    width: 320px;
    text-align: center;
}

.video{
    padding-top: 15px;
    padding-bottom: 5px;
}